<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue todolist</title>
  <script src="vue.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
          integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
          integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
          integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
          crossorigin="anonymous"></script>
  <style>
    td, th {
      text-align: center;
    }

    .right {
      text-align: right;
    }
  </style>
  <script>
    window.onload = function () {
      var vm = new Vue({
        el: ".container",
        data: {
          users: [],
          username: '',
          age: '',
          currentIndex: -100
        },
        methods: {
          addUser: function (username, age) {
            this.users.push({username, age})
            this.username = '';
            this.age = '';
          },
          delUser: function (id) {
            if (id == -2) {
              this.users = [];
            } else {
              this.users.splice(id, 1);
            }
          }
        }
      })
    }
  </script>
</head>
<body>
<div class="container">
  <form>
    <hr>
    <div class="form-group ">
      <label for="username">username:</label>
      <input type="text" id="username" class="form-control" v-model="username" placeholder="please input username">
      <label for="age">age:</label>
      <input type="text" id="age" class="form-control" v-model="age" placeholder="please input age">
    </div>
    <button type="reset" class="btn btn-primary">RESET</button>
    <button type="button" class="btn btn-primary" @click="addUser(username,age)">CONFIRM</button>
    <hr>
    <table class="table table-striped center">
      <caption class="h3 text-info">user info table</caption>
      <thead>
      <tr>
        <th>index</th>
        <th>username</th>
        <th>age</th>
        <th>maul</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item,index) in users">
        <td>{{index+1}}</td>
        <td>{{item.username}}</td>
        <td>{{item.age}}</td>
        <td>
          <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#del"
                  @click="currentIndex = index">DEL
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="right">
          <h5 v-if="users.length === 0" style="text-align: center;">there is no data yet ...</h5>
          <button type="button" class="btn btn-md btn-primary" v-if="users.length != 0" data-toggle="modal" data-target="#del"
                 @click="currentIndex = -2">DEL ALL
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
  <div class="modal fade " id="del">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" v-if="currentIndex >= 0">Confirm del this data ?</h5>
          <h5 class="modal-title" v-else>Confirm del all data ?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" @click="delUser(currentIndex)">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>